body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Barre de navigation */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;              /* Rend horizontal */
    justify-content: center;    /* Centre les éléments */
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff3c00;

}
.center-img {
    display: block;
    margin: 0 auto;
}
